<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] LocCapacita</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/clean-blog.css" rel="stylesheet" />
</head>
<body>
    @*<div class="container-fluid" style="width:98%;height:98%;border:1px solid black">*@
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @*<a class="navbar-brand" href="index.html">LocCapacita</a>*@
                @*<img src="~/images/logo.png"style="width:130px;height:130px;" />*@
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width:98%;height:98%;">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="post.html">Sample Post</a>
                        </li>*@
                    <li>

                        <a asp-controller="Login" asp-action="Login">Acesse ou Cadastre-se</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/pencil-1486278_1920.jpg');">
        <div class="container">
            <div class="row" style="border:0px solid black">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white">LocCapacita</h1>
                        @*<span class="subheading" style="color:black;font-size: 30px;font-style:oblique;font-weight:700;line-height:52px">A forma mais Facil de encontrar uma Capacitação</span>*@

                        <div class="subheading">
                            <div class="row">
                                @*<div class="col-lg-6">*@
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Qual  a sua capacitação...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" style="padding: 6px 12px;" type="button">Ir</button>
                                    </span>
                                </div><!-- /input-group -->
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @RenderBody()
            </div>
        </div>
    </div>
    @*</div>*@
    <footer class="footer" style="border:1px solid black; width:100%;background-color:brown;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/clean-blog.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
